<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvq-m48uYr9dw3PiPlR4OGMcZgtH4K8zs</string>
	<key>GCM_SENDER_ID</key>
	<string>615108194395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SafeForyou.Package</string>
	<key>PROJECT_ID</key>
	<string>social-hobby-activity-t-dv1typ</string>
	<key>STORAGE_BUCKET</key>
	<string>social-hobby-activity-t-dv1typ.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615108194395:ios:a63afe8c178bdc5a21cf7e</string>
</dict>
</plist>